@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.titleBox {
    display: flex;
    flex-direction: column;
    height: 800px;
}

.title {
    flex: 1;
    background-color: #156694;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(1fr, 6);
    place-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#mainTitle {
    font-size: 3em;
    grid-column: 1/6;
    color: white;
    /* margin-top: 100px; */
    margin-top: -30px;
    margin-bottom: -20px;
}

#subTitle {
    grid-column: 1/6;
    font-size: 1.2em;
    margin-top: -200px;
    z-index: 1;
    color: white;
}

.elaborateBox {
    flex: 1;
    flex-direction: row;
    width: 90%;
    height: 500px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-self: center;
    text-align: center;
    /* z-index: -1; */
    /* background-color: #3b7a9d; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.aboutUsBox {
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    order: 1;
    height: 500px;
    width: 45%;
    z-index: 2;
    margin-top: -100px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.abousUsTitle {
    margin: 70px 0px 0px 0px;
    font-family: 'Anton', sans-serif;
    color: #777777;
}

.abousUsTitle>img {
    width: 100px;
    height: 100px;
    margin: 0px 0px -40px 0px;
}

.abousUsTitle>h1 {
    text-shadow: 1px 1px 2px gray;
}

.aboutUsParagraph {
    padding: 20px;
    color: gray;
    margin-top: -10px;
}

.contactUsBox {
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    order: 2;
    height: 500px;
    width: 45%;
    z-index: 2;
    margin-top: -100px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
}

.contactUsBox:hover,
.aboutUsBox:hover {
    scale: 105%;
}

#mapholder {
    height: 300px;
    width: 100%;
    border-radius: 2%;
}