.titleBox {
    display: flex;
    flex-direction: column;
}

.title {
    flex: 2;
    background-color: #156694;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(1fr, 6);
    place-items: center;
}

#mainTitle {
    font-size: 3em;
    grid-column: 1/6;
    /* border: 1px solid red; */
    color: white;
    margin-top: 100px;
    margin-bottom: -20px;
}

#subTitle {
    grid-column: 1/6;
    font-size: 1.2em;
    margin-top: -25px;
    color: white;
}

.elaborateBox {
    flex: 1;
    background-color: white;
    width: 60%;
    align-self: center;
    text-align: center;
}