
@font-face {
    font-family: myFirstFont;
    src: url(https://fonts.googleapis.com/css2?family=Anton&display=swap);
  }
  
.contactUsBox1{
    font-family: myFirstFont;
  }
.titleBox {
    display: flex;
    flex-direction: column;
    height: 800px;
}

.title {
    flex: 1;
    background-color: #156694;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(1fr, 6);
    place-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#mainTitle {
    font-size: 3em;
    grid-column: 1/6;
    color: white;
    /* margin-top: 100px; */
    margin-top: -30px;
    margin-bottom: -20px;
}

#subTitle {
    grid-column: 1/6;
    font-size: 1.2em;
    margin-top: -200px;
    z-index: 1;
    color: white;
}

.elaborateBox {
    flex: 1;
    flex-direction: row;
    width: 90%;
    height: 500px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-self: center;
    text-align: center;
    /* z-index: -1; */
    /* background-color: #3b7a9d; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.elaborateBox1 {
    flex: 1;
    flex-direction: row;
    width: 100%;
    height: 500px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-self: center;
    text-align: center;
    /* z-index: -1; */
    /* background-color: #3b7a9d; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
h2{
    text-align: center;
    text-decoration: dotted;
    margin-bottom: 5px;
}

input[type=submit] {
    background-color: darkslategray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
  }

#submit{
    text-align: center;
}
  
.container {
    color: darkslategray;
    text-align: left;
    border-radius: 5px;
    background-image: url('/images/img_tree.jpg');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center; 
    padding: 10px;
    width: 100%;
    height:300px;
}

.text, #lname,  textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.aboutUsBox {
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    order: 1;
    height: 500px;
    width: 45%;
    z-index: 2;
    margin-top: -100px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.abousUsTitle {
    margin: 70px 0px 0px 0px;
    font-family: myFirstFont;
    color: #777777;
}

.abousUsTitle>img {
    width: 100px;
    height: 100px;
    margin: 0px 0px -40px 0px;
}

.abousUsTitle>h1 {
    text-shadow: 1px 1px 2px gray;
}

.aboutUsParagraph {
    padding: 20px;
    color: gray;
    margin-top: -10px;
    word-wrap: break-word;
    text-align: left;

}

.contactUsBox {
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    order: 2;
    height: 500px;
    width: 45%;
    z-index: 2;
    margin-top: -100px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
}

.contactUsBox1 {
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    order: 1;
    height: 500px;
    width: 50%;
    z-index: 2;
    margin-top: 0px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.75);
}

.contactUsBox:hover,
.aboutUsBox:hover {
    scale: 105%;
}

#mapholder {
    margin-top: 20px;
    height: 300px;
    width: 80%;
    border-radius: 2%;
}

.contactUsTitle {
    margin-top: 10px;
    margin-bottom: -10px;
    display: grid;
    /* border: 1px solid blue; */
    grid-template-columns: 1.3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#contactUsText {
    font-size: 20px;
    grid-column: 2/4;
    /* text-align: center; */
    /* border: 1px solid blue; */
    margin: 0px;
    text-align: left;
}

#contactImg {
    display: inline;
    grid-row: 1;
    width: 30px;
    height: 30px;
    /* border: 1px solid blue; */
    margin: 0px;
    justify-self: right;
}

.contcatInfoStyle {
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

#number {
    grid-row: 3;
    grid-column: 1/2;
    text-align: right;
    margin-left: 20px;
}

#divider {
    grid-row: 3;
    margin-top: -5px;
    margin-left: -60px;
    text-align: center;
    grid-column: 2;
    color: gray;
    font-size: 30px;
}

#email {
    grid-row: 3;
    grid-column: 2/4;
    text-align: right;
    margin-right: 20px;
}

#email:hover,
#number:hover {
    scale: 1.1;
    color: #156694;
}