div#dyd {
    
    color: aliceblue;
    margin-top:50px;
    margin-left: 20px;
    width: 300px;
    height: 80px;
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg); /* Standard syntax */
    -webkit-animation: skew 3s infinite linear;
    animation: skew 3s infinite linear;

    
    
  }
  dd, li{
      font-size: 16px;

  }
  ol {
    list-style-type: upper-roman;
  }
  
  ul {
    list-style-type: circle;
  }

  div#tred {
    
    color: aliceblue;
    margin-top:50px;
    margin-left: 20px;
    width: 300px;
    height: 80px;
    
    -ms-transform: rotateZ(200deg); /* IE 9 */
    transform: rotateZ(200deg); /* Standard syntax */
   
    
  }

h2 {background-color: #156694; color: #fff; font-size: 1.2em; padding: 5px; width: 98%;}
h3, h4 {color: #697922; font-size: 1.1em; padding: 15px 0 5px;}
a {color: #156694;}

li {padding: 2px 0;}

dt {
	font-weight: bold; 
	margin: 15px 40px 5px;
	cursor: pointer;
	text-decoration: underline;
	color: #156694;
}

	dt:before {
		content: "Q";
		font-size: 1.5em;
		font-family: Georgia, "Times New Roman", Times, serif;
		margin-right: 7px;
		padding: 2px 6px 5px;
		color: #FFD87D;
		background-color: #156694;
		font-weight: normal;
		
		margin-left: -35px;
		position: relative;
		top: 10px;
	}


dd {
	margin: 25px 70px 0px;
	padding-bottom: 12px;
	line-height: 150%;	
	}
	
	dd:before {
		content: "A";
		font-size: 1.5em;
		font-family: Georgia, "Times New Roman", Times, serif;
		margin-right: 7px;
		padding: 2px 9px;
		color: #156694;
		background-color: #FFD87D;
		
		margin-left: -38px;
		position: relative;
		top: 10px;
	}

p {line-height: 150%;}
	
.show {display: block;}
.hide {display: none;}	

  

  

  @-webkit-keyframes skew{
    from{-webkit-transform: skewX(0deg);}
    20%{-webkit-transform: skewX(30deg);}
    40%{-webkit-transform: skewX(-30deg);}
    60%{-webkit-transform: skewY(30deg);}
    80%{-webkit-transform: skewY(-30deg);}
    to{-webkit-transform: skewY(0deg);}
}

@keyframes skew{
    from{transform: skewX(0deg);}
    20%{transform: skewX(30deg);}
    40%{transform: skewX(-30deg);}
    60%{transform: skewY(30deg);}
    80%{transform: skewY(-30deg);}
    to{transform: skewY(0deg);}
}