body {
    margin: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navBar {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    /* border: 1px solid blue; */
    background-color: #3b7a9d;
}

.navBarElements {
    /* border: 1px solid blue; */
    display: grid;
    flex: 1;
    color: white;
    font-size: 20px;
    place-items: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topPage {
    /* border: 5px solid red; */
    text-align: start;
    display: flex;
    /* border: 1px solid blue; */
    margin: 100px 50px;
}

#topBorder {
    background-color: #3b7a9d;
    width: 100%;
    height: 10px;
}

.searchBar {
    flex: 3;
    width: 100px;
    /* border: 5px solid red; */
}

#searchButton {
    width: 60px;
    height: 44px;
    margin: 0px 0px 0px -4px;
    border: none;
    background-color: #3b7a9d;
    color: white;
}

#textFieldOfSearch {
    background-color: transparent;
    border: gainsboro solid 0.5px;
    width: 200px;
}

.inputsOfSearchBar {
    height: 40px;
    width: 150px;
    margin: 45px 0px 0px 0px;
}

.logo {
    /* margin: 0px 0px 0px 0px;  */
    font: Georgia;
    font-size: 100px;
    color: #333333;
}

.logoContainer {
    flex: 10;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}


/* Slides changes from Verona */

.slides {
    width: 75%;
    flex: 1;
}

.slider {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 97%;
    margin-left: 15px;
    height: 400px;
}

.contentDescription {
    flex: 0.3;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
}

.sliderButtons {
    /* border: 1px solid red; */
    display: inline-block;
    height: 25%;
    width: 50;
    margin-top: 24px;
    cursor: pointer;
}

#sliderContentAllign {
    text-align: start;
}

#readMoreLink {
    text-decoration: none;
    color: white;
    text-align: end;
}

#dot {
    /* padding: 5px; */
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 25px;
    margin-left: 25px;
    background-color: #bbb;
    border-radius: 60%;
    transition: background-color 0.6s ease;
}

.active,
#dot:hover {
    background-color: black;
}

#sliderText {
    grid-column: 1/8;
    color: white;
}

.slideControlls {
    /* margin-top: 20px;
    /* border: 1px solid red; */
    cursor: pointer;
    color: white;

}

#thicLogo {
    flex: 1;
    /* border: 1px solid orange; */
}

#softLogo {
    font: Georgia;
    font-size: 100px;
    color: #999999;
    flex: 0.1;
    /* border: 1px solid red; */
}

.largerLetter {
    font-size: 110px;
}

#topRowLogo {
    flex: 1;
    order: 1;
    margin-top: 20px;
}

#bottomRowLogo {
    flex: 1;
    order: 2;
}

.softLogoText {
    font-size: 30px;
    color: #999999;
}

/* Mbresa */


#p1, #p2, #p3, #p4 {
  display: inline-block;
  width: 20%;
  text-align: left;
}


/* Verona */


/* footer */

#copyright {
    text-align: left;
    color: #999999;
    width: 50%;
}

#template {
    text-align: right;
    color: #999999;
    width: 50%;
}

#field {
    width: 100%;
    display: flex;
}

footer {
    background-color: #D6D6D6;
    border-color: #D6D6D6;
    ;
}


/* main2 */

#main2 {
    width: 100%;
    display: flex;
}

.inline {
    width: 33.333333333333333333333333333333%;
    text-align: center;
}

/* instructos */
.ins{
    width:100%;
    display: flex;
    
   
}
.insBody{
    text-align: left;

}

.inline h4{
    text-align: left;
}



.insIcon{
    margin-top:10px;
    width: 80px;
    height:80px;
}
