.slogan {
    text-align: center;
}

.payment {
    display: flex;
    width: 100%;
    height: 500px;
}

table {
    width: 100%;
}

.paymentForm {
    color: gray;
}

.paymentSelection {
    flex: 1;
    /* background-color: rebeccapurple; */
    /* border: 1px solid black; */
    width: 50%;
}

.paymentInfo {
    flex: 1;
    width: 50%;
    /* background-color: red; */
}

.typeOfSub {
    width: 100%;
    text-align: left;
    /* border: 1px solid red; */
}

img {
    width: 40px;
}

.header {
    font-size: 25px;
    padding-bottom: 15px;
}

#tpyeOfSubTitle {
    padding-bottom: 20px;
}

.totalAmount {
    padding-top: 50px;
    border: none;
}

.textBoxStyle {
    border: none;
    border-bottom: 1px solid black
}

.spacingOfInputs {
    padding-top: 10px;
}

.fullNameInput {
    width: 100%;
}

#expireInfo {
    font-size: 10px;
}

#month {
    width: 50%;
}